.messages {
    display: inline-block;
    position: fixed;
    top: 45%; 
    left: 55%; 
    transform: translate(-50%, -50%); /* Центрирование */
    min-width: 65%; 
    height: 85vh;
    overflow-y: auto; 
    scrollbar-color: #000000 #1C1C1C;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.messages-inside{
    min-width: 100%;
}

.message-text-user {
    /* display: inline-block; */
    float: right;
    background-color: #1C1C1C;
    border-radius: 30px;
    padding: 5px 10px;
    margin-left: 50%;
    /* text-align: right; */
    /* direction: rtl; */
    margin-right: 5px;
    
}

.message-text-ai {
    align-self: flex-start;
    margin: 65px;
}
